body {
    padding: 20px;
    padding-top: 80px;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

div {
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border: 1px solid;
    margin: 0px;
    border-collapse: collapse;
}

th {
    border: 1px solid black!important;
    margin: 0px;
    padding: 5px;
}

td {
    border: 1px solid;
    margin: 0px;
    padding: 5px;
    background-color: #DDDDDD;
}

thead {
    font-weight: bold;
    background: no-repeat 2% center, linear-gradient(to bottom, rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%);
    color: white;
}

#servant-container {
    text-align: center;
    width: 100%;
}

#banner-container {
    text-align: center;
    width: 100%;
}

#pageHeader {
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1000;
    background: no-repeat 2% center, linear-gradient(to bottom, rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%);
    color: white;
    margin: 0;
    width: 100%;
    margin-left: -40px;
}

#pageContainer {
    background-color: rgba(128, 128, 128, 0.9);
    padding: 20px;
}

#disclaimer {
    width: 100%;
    padding: 2%;
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 130px;
}

.item img { display: block; }

.invisible { display: none; }

.outer-container {
    width: 100%;
    justify-contents: center;
    align-items: center;
    display: flex;
}

.svtImg {
    transform: scale(1.2, 1.2);
    display: block;
    margin-bottom: 10px;
    width: 130px;
}

.svtName {
    font-size: 1.2em;
    padding-top: 5px;
    overflow-wrap: break-word;
    width: 130px;
}

.svtButton {
    transition-duration: 0.4s;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    opacity: 0.3;
    border: 0px;
}

.svtButtonSelected { opacity: 1.0!important; }
.svtButtonSelected>img { opacity: 1.0!important; }

.b { font-weight: bold; }

.i { font-style: italic; }

.u { text-decoration: underline; }

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.xlarge { font-size: 2em; }

.large { font-size: 1.7em; }

.medium { font-size: 1.4em; }

.small { font-size: 0.7em; }

.xsmall { font-size: 0.6em; }

.subtitle { margin-top: -15px; }